#!/bin/ksh

daemon="/usr/local/iobroker/iobroker"
daemon_user="_iobroker"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_start() {
	su -l -c ${daemon_class} -s /bin/sh ${daemon_user} -c "node ${daemon} ${daemon_flags} start"
}

rc_stop() {
	su -l -c ${daemon_class} -s /bin/sh ${daemon_user} -c "node ${daemon} ${daemon_flags} stop"
}

rc_check() {
	su -l -c ${daemon_class} -s /bin/sh ${daemon_user} -c "node ${daemon} ${daemon_flags} status"
}

rc_cmd $1
